---
import { Picture } from "astro:assets";
import babaganoushImage from "assets/sauces/babaganoush.png";
import muhamaraImage from "assets/sauces/muhamara.png";
import AnimatedSalsa from "./ui/sauces/animatedSalsa.astro";
import tomateImage from "assets/sauces/tomatosauce.png";
import tatzikiImage from "assets/sauces/tatziki.png";
import coleslawImage from "assets/sauces/coleslaw.png";
import criollaImage from "assets/sauces/criolla.png";

interface Salsa {
  nombre: string;
  descripcion: string;
  imagen: ImageMetadata;
  color: string;
}

const salsas: Salsa[] = [
  {
    nombre: "Babaganoush",
    descripcion:
      "Un dip cremoso de berenjenas asadas con tahini, con un toque ahumado y un sabor suave y delicioso. Perfecto para acompañar con pan pita o vegetales frescos.",
    imagen: babaganoushImage,
    color: "text-title",
  },
  {
    nombre: "Muhamara",
    descripcion:
      "Salsa de origen sirio a base de pimientos rojos asados y nueces, con un toque de comino y un sabor ligeramente dulce y picante. Perfecta para acompañar carnes y panes.",
    imagen: muhamaraImage,
    color: "text-muhamara",
  },
  {
    nombre: "Tatziki",
    descripcion:
      "Salsa griega a base de yogur, pepino, ajo y eneldo. Perfecta para acompañar carnes, ensaladas y panes.",
    imagen: tatzikiImage,
    color: "text-tatziki",
  },
  {
    nombre: "Mermelada de Tomate",
    descripcion:
      "Elaborada con tomates frescos y azúcar, esta mermelada es perfecta para acompañar quesos, carnes y panes.",
    imagen: tomateImage,
    color: "text-tomato",
  },
  {
    nombre: "Coleslaw",
    descripcion:
      "Ensalada de col rallada con zanahoria, aderezada con mayonesa y vinagre. Perfecta para acompañar carnes y hamburguesas.",
    imagen: coleslawImage,
    color: "text-coleslaw",
  },
  {
    nombre: "Criolla",
    descripcion:
      "Salsa criolla a base de cebolla, tomate y ají, perfecta para acompañar carnes asadas y empanadas.",
    imagen: criollaImage,
    color: "text-criolla",
  },
];
---

<section class="py-16 px-4 relative">
  <div class="max-w-6xl mx-auto">
    <h1
      class="text-title text-4xl lg:text-5xl xl:text-6xl font-black leading-tight mb-7 text-center">
      Nuestras salsas
      <br />
      <span class="block mt-2">especiales</span>
    </h1>

    <div class="grid gap-8">
      {
        salsas.map((salsa, index) => (
          <AnimatedSalsa direction={index % 2 === 0 ? "left" : "right"}>
            <div class="flex flex-col md:flex-row gap-3 md:gap-6 items-center justify-center">
              <div class={`w-64 ${index % 2 !== 0 ? "md:order-2" : ""}`}>
                <Picture
                  src={salsa.imagen}
                  alt={salsa.nombre}
                  widths={[256, 512]}
                  sizes="256px"
                  loading="lazy"
                  format="avif"
                  class="w-64 h-64 object-cover"
                />
              </div>
              <div
                class={`md:w-1/2 ${
                  index % 2 !== 0
                    ? "md:order-1 md:text-right md:pr-4"
                    : "md:text-left md:pl-4"
                } mt-3 md:mt-0 text-center`}>
                <h3 class={`text-3xl font-bold mb-4 ${salsa.color}`}>
                  {salsa.nombre}
                </h3>
                <p class="text-gray-300 leading-relaxed">{salsa.descripcion}</p>
              </div>
            </div>
          </AnimatedSalsa>
        ))
      }
    </div>
    <div class="flex justify-center mt-8">
      <a
        href="https://pedix.app/kook-espacio/categoria/WFq3o0i1d2xNw3WGQUX3"
        class="inline-block px-4 py-2 text-[#ffffff] bg-primary hover:bg-[#E5A420] rounded-lg transition-colors">
        Ver todas las salsas
      </a>
    </div>
  </div>
</section>
